menu "Application sample"

rsource "ui/Kconfig" 

module = APP
module-dep = LOG
module-str = Log level for sample
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"
endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu