/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
        aliases {
                temp-sensor = &bme680;
                humidity-sensor = &bme680;
                /*
                conc-sensor = &dgso3;
                prtcl-sensor = &sps30;
                */
                /* accelerometer = &adxl362; */
        };
};

&i2c2 {
        bme680: bme680@76 {
          compatible = "bosch,bme680";
          label = "BME680";
          reg = <0x76>;
        };
};


/*
&spi3 {
        adxl362: adxl362@0 {};
};

&i2c4 {
        sps30: sps30@69 {};
};

&uart5 {
         dgso3: dgso3@0 {};
};
*/