/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */


&i2c3 {
	status = "okay";
	compatible = "nordic,nrf-twim";
	sda-pin = <30>;
	scl-pin = <31>;
	clock-frequency = <I2C_BITRATE_STANDARD>;
};

&spi3 {
    status = "disabled";
};

&uart1 {
	status = "okay";
	current-speed = <9600>;
	tx-pin = <0>;
	rx-pin = <1>;
};