/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
        aliases {
                temp-sensor = &bme680;
                humidity-sensor = &bme680;
                accelerometer = &adxl362;
        };
};

&i2c2 {
    bme680: bme680@76 {
      compatible = "bosch,bme680";
      label = "BME680";
      reg = <0x76>;
    };
};


&spi3 {
        adxl362: adxl362@0 {};
};

/*
&i2c4 {
        sps30: sps30@69 {};
};
*/

&uart0 {
	compatible = "nordic,nrf-uarte";
	current-speed = <9600>;
	status = "okay";
	tx-pin = <18>;
	rx-pin = <19>;
};